# Binaries
*.log
/openmodel

# IDE files
.idea/
*.iml
.iris
.vscode
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Test coverage
*.out
coverage.html

# Others
.sisyphus/*
.opencode
.worktrees/
openmodel.json

# Debug files
.openmodel_debug/
